{%- if form is defined -%}
    {% form_theme form 'IntegratedContentBundle:Form:form_div_layout.html.twig' %}
{%- endif -%}

<!DOCTYPE html>
<html class="no-js">
<head>
    <title>{% block title %}{% trans %}Integrated{% endtrans %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

{% block style %}

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen" />

    {% stylesheets "@integrated_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    <script>
        function require(url, callback){

            var script = document.createElement("script")
            script.type = "text/javascript";

            if (script.readyState){  //IE
                script.onreadystatechange = function(){
                    if (script.readyState == "loaded" ||
                            script.readyState == "complete"){
                        script.onreadystatechange = null;
                        callback();
                    }
                };
            } else {  //Others
                script.onload = function(){
                    callback();
                };
            }

            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
        }
    </script>

{% endblock style %}

</head>
<body>
{% block header %}
<header>
    <div class="container">
        <nav class="navbar js-navbar-collapse" role="navigation">

            <ul class="nav pull-left">
                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle left_menu_toggle glyphicon glyphicon-th" data-toggle="dropdown"></a>
                    {{ knp_menu_render('integrated_menu', {'template': 'IntegratedContentBundle:Menu:menu.html.twig'}) }}
                </li>
            </ul>

            <a href="{{ path('integrated_content_content_index') }}" class="navbar-brand logo hidden-xs">
                Integrated
            </a>

            {{ render(controller('IntegratedContentBundle:Content:navdropdowns')) }}

            <div class="fluid_search_field">
                <div class="btn-block">
                    <div class="search_field_holder">
                        <form action="{{ path('integrated_content_content_index') }}" method="get">
                            <input type="text" name="q" value="{{ app.request.query.get('q')|trim }}" class="form-control typehead_search" placeholder="{% trans %}Search here...{% endtrans %}" autocomplete="off" />
                            <button type="submit" class="submit_btn"><i class="glyphicon glyphicon-search"></i></button>
                        </form>
                    </div>
                </div>
            </div><!-- fluid_search_field -->

        </nav>
    </div>
</header>
{% endblock %}
<section class="content_section">
    <div class="container">

        {% block body %}
            <div class="col-sm-12 content_wrapper">
                {% block flash %}
                    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
                {% endblock flash %}
                {% block content %}{% endblock content %}
            </div>
        {% endblock body %}

    </div>
</section>

{% block javascript %}

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('/js/bootstrap.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% javascripts
        '@integrated_js'
        '@IntegratedContentBundle/Resources/public/components/typeahead.js/dist/typeahead.bundle.min.js'
        '@IntegratedContentBundle/Resources/public/components/handlebars/handlebars.min.js'
        '@IntegratedContentBundle/Resources/public/js/base.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block locking %}
        {% if locking is defined and locking.lock is defined and locking.locked == false %}
            {% include 'IntegratedLockingBundle::locking.refresh.html.twig' with { 'lock': locking.lock } %}
        {% endif %}
    {% endblock locking %}

{% endblock javascript %}

</body>
</html>
