{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block content %}
    {% block crumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
        </li>
        <li class="active">{% trans %}Edit{% endtrans %}</li>
    </ol>
    {% endblock %}

    {% block filters %}
    <div class="filters_row">
        {#<ul class="nav nav-pills">#}
            {#<li class="dropdown">#}
                {#<a href="#" data-toggle="dropdown" role="button" id="drop_1">Import <b class="caret"></b></a>#}
                {#<ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>#}
                {#</ul>#}
            {#</li>#}

            {#<li class="dropdown">#}
                {#<a href="#" data-toggle="dropdown" role="button" id="drop_1">Actions <b class="caret"></b></a>#}
                {#<ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    </div>
    {% endblock %}

    <div class="content_columns_holder">
        {% set colWidth = 'col-md-9' %}
        {% if form.offsetGet('relations').count() %}
            {% set colWidth = 'col-md-6' %}
        {% endif %}
        <div class="col-sm-12 {{ colWidth }} content_column margin_botom_in_mobile">
            <h3 class="title">
                {% block pageTitle %}
                {% trans %}Edit{% endtrans %} {{ type.name }}
                {% endblock %}
            </h3>
            <div class="content_column_inner">
                <div class="item_row">
                    {{ form(form, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8, 'col_size': 'sm' }) }}
                </div>
            </div>
        </div>
        {% if form.offsetGet('relations').count() %}
        <div class="col-sm-6 col-md-3 side_column margin_botom_in_mobile">
            <h3 class="title">{% trans %}Link to{% endtrans %}</h3>
            <div class="content_column_inner">
                <div class="item_row">
                    <div class="search_field_holder grey_field_holder">
                        <form role="form" id="relations-search">
                            <input id="relations-q" type="text" class="form-control" placeholder="{% trans %}Search here...{% endtrans %}" autocomplete="off" />
                            <button type="submit" class="submit_btn"><i class="glyphicon glyphicon-search"></i></button>
                        </form>
                    </div>
                </div>
                <div id="relations-result"></div>
            </div>
        </div>
        {% endif %}

        <div class="col-sm-6 col-md-3 sidebar_right margin_botom_in_mobile">
            {% if form.offsetGet('relations').count() %}
            <div class="item_row">
                <h3 class="title">{% trans %}Linked items{% endtrans %}</h3>
                <div class="content_column_inner">
                    <ul class="custom_list li_with_margin" id="relations-selected"></ul>
                </div>
            </div>
            {% endif %}
            <div class="item_row" id="used-by"></div>

            {#<div class="item_row">#}
                {#<h3 class="title">Info</h3>#}
                {#<div class="content_column_inner">#}
                    {#<ul class="custom_list custom_list_info">#}
                        {#<li>#}
                            {#Creator#}
                            {#<span class="value">Marijn Otte</span>#}
                        {#</li>#}
                        {#<li>#}
                            {#Created on#}
                            {#<span class="value">18-12-2013</span>#}
                        {#</li>#}
                        {#<li>#}
                            {#Words#}
                            {#<span class="value">1296</span>#}
                        {#</li>#}
                    {#</ul>#}
                    {#<a href="#" class="btn_more">More <i class="glyphicon"></i></a>#}
                {#</div><!-- content_column_inner -->#}
            {#</div><!-- item_row -->#}

            {#<div class="item_row">#}
                {#<h3 class="title">History</h3>#}
                {#<div class="content_column_inner">#}
                    {#<ul class="custom_list">#}
                        {#<li class="media">#}
                            {#<a href="#" class="pull-left"><img src="images/temp/userpic.jpg" alt=""></a>#}
                            {#<div class="media-body">#}
                                {#<p>18-12-2013 16:43</p>#}
                                {#<p>Marijn Otte</p>#}
                                {#<p>Draft</p>#}
                                {#<p>Rewritten intro</p>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li class="media">#}
                            {#<a href="#" class="pull-left"><img src="images/temp/userpic.jpg" alt=""></a>#}
                            {#<div class="media-body">#}
                                {#<p>18-12-2013 16:43</p>#}
                                {#<p>Marijn Otte</p>#}
                                {#<p>Draft</p>#}
                                {#<p>Rewritten intro</p>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div><!-- content_column_inner -->#}
            {#</div><!-- item_row -->#}

        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
{% javascripts
    "@IntegratedContentBundle/Resources/public/components/handlebars/handlebars.min.js"
    "@IntegratedContentBundle/Resources/public/js/handlebars.helpers.js"
    "@IntegratedContentBundle/Resources/public/js/relation.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if content is defined %}
<script>
    $(function() {

        var cnt = $('#used-by');

        var handleUsedBy = function(data) {
            var optionsTemplateSource = $('#used-by-template').html(), optionsTemplate = Handlebars.compile(optionsTemplateSource);
            var paginationTemplateSource = $('#pagination-template').html(), paginationTemplate = Handlebars.compile(paginationTemplateSource);

            data.title = "{% trans %}Used by{% endtrans %}";

            cnt.html(optionsTemplate(data)).find('.content_column_inner').append(paginationTemplate(data));
            cnt.find('.pagination a').click(function(ev){
                ev.preventDefault();
                loadUsedBy($(this).attr('href'));
            });
        };

        var loadUsedBy = function(url) {
            cnt.find('.pagination a').unbind('click').click(function(ev){
                ev.preventDefault();
            });

            $.ajax({
                url: url,
                data: {
                    '_format': 'json',
                    'limit': 5
                },
                success: handleUsedBy
            });
        };

        loadUsedBy('{{ path('integrated_content_content_used_by', {'id': content.id}) }}');
    });
</script>
{% endif %}

{{ include('IntegratedContentBundle:Content:handlebars/templates.html.twig')}}
{% endblock javascript %}