{% spaceless %}
{% set items = [] %}
{% for content in pager %}
    {% set item = {'id': content.type_id, 'title': content.title|default('(no title)'), 'content': null, 'image': null} %}
    {% if content.content is defined %}
        {% set item = item|merge({'content': content.content|join('...')|striptags}) %}
    {% endif %}
    {% if content.image_text is defined %}
        {% set item = item|merge({'image': content.image_text}) %}
    {% endif %}
    {% set items = items|merge([item]) %}
{% endfor %}
{% set paging = [] %}
{% if pager.previous is defined %}
    {% set paging = paging|merge([{'prev': true}]) %}
{% endif %}
{% set data = {'href': 'resource', 'relations': relations, 'pagination': pager|json_pagination , 'items': items} %}
{% endspaceless %}
{{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}