{% extends 'IntegratedContentBundle:Content:new.html.twig' %}
{% block style %}
    {{ parent() }}
    <style>
        .add-relation {display: none;}
    </style>
{% endblock %}
{% block header %}{% endblock %}
{% block crumbs %}{% endblock %}
{% block filters %}{% endblock %}
{% block pageTitle %}{% endblock %}