<div class="panel panel-default">
    <div class="panel-heading">
        {{ block.title }}
    </div>

    <div class="panel-body">
        {{ form(form, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'col_size': 'sm' }) }}
    </div>
</div>
