@import "../../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "variables.less";

body {
  font-family: @bodyFontFamily;
  font-size: @bodyTextFontSize;
  color: @bodyTextColor;
  background: none @bodyBgColor;
}

*:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  .transition(150ms);
  color: @bodyLinksColor;
  &:hover, &:focus {
    color: @bodyLinksColor;
  }
}

ul {
  list-style: none;
  padding: 0;
}

textarea {
  resize: none;
}

.item_row {
  .clearfix();
}

.progress {
  margin-bottom: 0;
}

.title {
  font-size: @titleHeadingFontSize;
  margin-bottom: 10px;
  @media (max-width: @screen-xs-max) {
    font-size: @titleHeadingFontSizeMobile;
  }
}

.sub_title {
  font-size: @subTitleHeadingFontSize;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: Bold;
}

.title_bordered {
  padding: 15px;
  border-top: 1px solid @contentColumnsBorderColor;
  border-bottom: 1px solid @contentColumnsBorderColor;
  margin-bottom: 10px;
  .clearfix();
  h3 {
    font-size: 18px;
    line-height: 20px;
  }
  a {
    text-decoration: none;
  }
  .dropdown {
    margin-left: 15px;
    margin-top: 2px;
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}

.total {
  display: inline-block;
  margin: 7px 0;
}

.closable {
  padding-right: 0;
  .close {
    float: left;
    margin-right: 5px;
    font-size: inherit;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: inherit;
  }
}

.margin_botom_in_mobile {
  @media (max-width: @screen-xs-max) {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-group {
  label.control-label {
    font-weight: normal;

    &.required {
      font-weight: bold;
    }

    @media (max-width: @screen-xs-max) {
      margin-bottom: 5px;
    }
  }
}

.dropdown-menu {
  font-size: @bodyTextFontSize;
  margin-top: 0;
  padding: 0;
  border-radius: 0 0 4px 4px;
  border-color: @dropdownBorderColor;
  &> li {
    padding: 0;
    border-bottom: 1px solid @dropdownBorderColor;
    color: @dropdownColor;
    &.dropdown_title {
      padding: 10px;
    }
    &> a {
      .clearfix();
      padding: 10px 15px;
      line-height: 18px;
      color: @dropdownColor;
      &:hover {
        background: none @headerMenuItemActiveBgColor;
        color: #ffffff;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.fluid_search_field {
  position: relative;
  margin-right: 15px;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @media (max-width: @screen-xs-max) {
    margin-right: 0;
  }
  .search_field_holder {
    width: 195px;
    @media (max-width: @screen-xs-max) {
      width: 100% !important;
    }
  }
}


/* PAGINATION */
.pagination {
  margin: 0;
  &> li {
    margin-right: 5px;
    display: block;
    float: left;
    &.active {
      &> a {
        border-color: @paginationActiveShadowColor;
        background: none @paginationActiveBgColor;
        box-shadow: 0 0 6px 6px @paginationActiveShadowColor inset;
        color: @paginationActiveColor;
        outline: none;
      }
    }
    &> a {
      background: none @paginationBgColor;
      border: 1px solid @paginationBorderColor;
      border-radius: 4px;
      color: @paginationColor;
      &:hover, &:focus {
        border-color: @paginationActiveShadowColor;
        background: none @paginationActiveBgColor;
        box-shadow: 0 0 15px @paginationActiveShadowColor inset;
        color: @paginationActiveColor;
      }
    }
  }
}

.row_with_popover {
  .input_holder {
    overflow: hidden;
  }
  .popover_trigger {
    margin-left: 15px;
    color: @popoversTriggerColor;
    float: right;
    margin-top: 8px;
    cursor: pointer;
  }
}


/* HEADER styles */
header {
  background: none @headerBgColor;
  .navbar {
    margin-bottom: 0;
    border: none;
    min-height: 1px;
  }
  .nav {
    width: auto;
    margin: 0;
    float: right;
    .dropdown_profile {
      margin-left: 5px;
      &> a {
        padding: 0;
      }
    }
    @media (max-width: @screen-xs-max) {
      float: left;
      padding-left: 40px;
      margin-right: 10px;
    }
    .dropdown {
      .left_menu_toggle {
        float: left;
        margin: -1px 5px 0 0;
        padding: 10px 10px;
        height: 45px;
        color: @headerTextColor;
        font-size: 20px;
        &:hover, &:focus {
          text-decoration: none;
          outline: none;
          background: none @headerMenuItemActiveBgColor;
        }
        @media (max-width: @screen-xs-max) {
          position: absolute;
          margin: 0;
          left: 0;
          height: 42px;
          margin-top: -1px;
        }
      }
    }
    &> li {
      float: left;
      &> a {
        padding-left: 5px;
        line-height: 21px;
        padding: 12px 15px;
        color: @headerTextColor;
        &:hover, &:focus {
          background: none @headerMenuItemActiveBgColor;
        }
        i {
          display: block;
          line-height: inherit;
          font-size: 18px;
        }
        @media (max-width: @screen-xs-max) {
          line-height: 18px;
          padding: 10px 15px;
        }
      }
      &.open {
        &> a, &> a:focus, &> a:hover {
          background: none @headerMenuItemActiveBgColor;
        }
      }
      &:first-child {
        &> a {
          float: left;
        }
        .dropdown-menu {
          right: auto;
          left: 0;
        }
      }
      &.for_mobile {
        @media (max-width: @screen-xs-max) {
          width: 100%;
          .dropdown-toggle {
            float: right;
            padding: 12px 10px;
          }
          .search_field_holder {
            margin-right: 0;
            overflow: hidden;
            float: none;
            max-width: none;
            margin: 5px 0;
            height: 32px;
          }
        }
      }
    }
    .with_badge {
      position: relative;
      .badge {
        position: absolute;
        top:7px;
        right: 3px;
        padding: 2px 5px;
        &.label-danger {
          background: none @brand-danger;
        }
      }
    }
    .dropdown_profile {
      margin-left: 5px;
      &> a {
        padding: 0;
      }
      .userpic {
        width: 45px;
        height: 45px;
        @media (max-width: @screen-xs-max) {
          width: 38px;
          height: 38px;
        }
      }
      .arrow {
        vertical-align: middle;
        font-size: 8px;
        margin: 0 8px 0 3px;
      }
      .dropdown-menu {
        padding: 20px 0 10px 0;
        &> li {
          padding: 0;
          border: none;
          &.user_info {
            margin-bottom: 15px;
            padding: 0 20px;
            .user_name {
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 5px;
            }
            .user_email {
              font-size: 12px;
              font-weight: 400;
            }
          }
          a {
            padding: 10px 20px;
            line-height: 16px;
            font-size: 12px;
            i {
              font-size: 16px;
              line-height: 16px;
              float: left;
              margin-right: 10px;
              color: @profileDropdownIconsColor;
            }
          }
        }
      }
    }
    .dropdown-menu {
      left: auto;
      right: 0;
      min-width: 250px;
      @media (max-width: @screen-xs-max) {
        width: 180px;
      }
      &.with_padding {
        padding: 15px;
      }
      &.with_icons {
        i {
          font-size: 16px;
          margin-right: 10px;
          float: left;
          color: @siteGreenColor;
        }
        .when {
          float: right;
          margin-left: 10px;
        }
        .item_name {
          overflow: hidden;
          display: block;
          white-space: pre-wrap;
        }
      }
    }
  }
  .search_field_holder {
    float: right;
    height: 33px;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 0;
    // width: 150px;
    input {
      background: none @headerMenuItemActiveBgColor;
      border-radius: 4px 0 0 4px;
    }
    .submit_btn {
      background: none @searchHolderBgColor;
      border-radius: 0 3px 3px 0;
    }
  }
}

.logo {
  color: @headerTextColor;
  font-size: 24px;
  line-height: 24px;
  padding: 10px 0;
  height: auto;
  margin-right: 15px;
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
    color: @headerTextColor;
  }
  @media (max-width: @screen-xs-max) {
    font-size: 14px;
    font-weight: 600;
  }
}

.search_field_holder {
  position: relative;
  border-radius: 4px;
  &.fluid {
    position: absolute;
    right: 0;
  }
  input {
    border: none;
    height: 31px;
    box-shadow: none;
    -moz-appearance:    textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    &::-webkit-input-placeholder { /* WebKit browsers */
      color: @searchHolderBgColor;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: @searchHolderBgColor;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: @searchHolderBgColor;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: @searchHolderBgColor;
    }
  }
  .submit_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 31px;
    border: none;
    //background: none @searchHolderBgColor;
    //border-radius: 0 3px 3px 0;
    z-index: 10;
    i {
      color: @headerTextColor;
    }
  }
  .twitter-typeahead {
    padding-right: 38px;
    display: block !important;
  }
  .tt-dropdown-menu {
    border-radius: 0 0 4px 4px;
    width: 250px;
    text-align: left;
    overflow: hidden;
    border-top: none;
    top: 31px !important;
    right: 0 !important;
    left: auto !important;
    margin-top: 7px;
    background: none @resultsDropdownBgColor;
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }
  .tt-hint {
    border-radius: 4px;
  }
  .tt-suggestions {
    border: 1px solid @dropdownBorderColor;
    border-radius: 0 0 4px 4px;
  }
  .tt-suggestion {
    padding: 10px;
    .transition(150ms);
    &:hover {
      background: none @resultsItemActiveBgColor;
    }
    .typehead_item_title {
      font-size: 13px;
      margin-bottom: 5px;
      line-height: 100%;
    }
    .typehead_item_info_list {
      .clearfix();
      li {
        float: left;
        font-size: 11px;
        line-height: 12px;
        height: 12px;
        padding-left: 6px;
        margin-left: 6px;
        border-left: 1px solid @bodyTextColor;
        &:first-child {
          margin-left: 0;
          padding-left: 0;
          border-left: 0;
        }
      }
    }
  }
  .tt-input:focus {
    box-shadow: none;
  }
  &.grey_field_holder {
    margin: -15px -15px 0 -15px;
    input {
      background: none @greySearchFieldBgColor;
      border-radius: 0;
      &::-webkit-input-placeholder { /* WebKit browsers */
        color: @bodyTextColor;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: @bodyTextColor;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @bodyTextColor;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @bodyTextColor;
      }
    }
    .tt-dropdown-menu {
      margin-top: 0;
      width: 100%;
    }
    .submit_btn {
      background: none darken(@greySearchFieldBgColor, 20%);
      i {
        color: #ffffff;
      }
    }
  }
}


/* SIDEBAR LEFT styles */
.sidebar_left {
  background: none @leftSidebarBgColor;
  border-right: 2px solid @contentColumnsBorderColor;
  padding: 42px 0 0 0;
  @media (max-width: @screen-xs-max) {
    padding: 0;
    min-height: 0;
  }
  .left_side_menu {
    padding: 0;
    max-height: none;
  }
}
.edited_site_title_holder {
  padding: 5px 15px 40px 15px;
  border-bottom: 1px solid @leftSidebarItemsBorderBottomColor;
  @media (max-width: @screen-xs-max) {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.edited_site_title {
  font-size: 18px;
  color: @editedSiteTitleColor;
  white-space: pre-wrap;
  margin-bottom: 0;
  .text-overflow();
}
.left_sidebar_menu {
  &> li {
    &> a {
      .text-overflow();
      .transition(background-color 150ms ease-out 0s);
      line-height: 20px;
      height: 50px;
      display: block;
      padding: 15px 5px 15px 15px;
      border-top: 1px solid @leftSidebarItemsBorderTopColor;
      border-bottom: 1px solid @leftSidebarItemsBorderBottomColor;
      color: @dropdownColor;
      &:hover, &:focus {
        background: none @leftSidebarMenuItemActiveBgColor;
        border-top: 0 solid transparent;
        border-bottom: 0 solid transparent;
        padding: 16px 15px;
        border-right: 5px solid @mainSchemeColor;
        color: @dropdownColor;
      }
      i {
        font-size: 16px;
        vertical-align: text-bottom;
        line-height: 20px;
        margin-right: 12px;
        text-align: left;
        color: @bodyTextColor;
      }
    }
    &.dropdown.open {
      &> a {
        background: none @leftSidebarMenuItemActiveBgColor;
        color: @dropdownColor;
      }
    }
    .dropdown-menu {
      left: 100%;
      right: auto;
      top: -1px;
    }
  }
}


/* CONTENT styles */
.content_section {
  .container {
    @media (max-width: @screen-xs-max) {
      padding: 0;
    }
  }
}
.content_wrapper {
  padding: 15px 0;
  .content_columns_holder {
    .clearfix();
    .content_column {
      @media (min-width: @screen-sm-min) {
        padding-left: 0;
        padding-right: 0;
      }
      @media (max-width: @screen-sm-max) {
        margin-bottom: 20px;
      }
    }
    .side_column {
      font-size: 13px;
      line-height: 13px;
      @media (min-width: @screen-sm-min) {
        padding-right: 0;
      }
      @media (max-width: @screen-sm-max) {
        padding-left: 0;
      }
      @media (max-width: @screen-xs-max) {
        padding-left: 15px;
      }
    }
    .sidebar_right {
      font-size: 13px;
      line-height: 15px;
      @media (min-width: @screen-sm-min) {
        padding-right: 0;
      }
    }
  }
  .item_row {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .filters_row {
    margin-bottom: 20px;
    border-bottom: 1px solid @contentColumnsBorderColor;
    position: relative;
    &:after {
      position: absolute;
      bottom: -2px;
      height: 1px;
      width: 100%;
      left: 0;
      background: #ffffff;
      content: '';
    }
    .dropdown {
      &> a {
        color: @filtersRowDropdownColor;
      }
    }
  }
  .content_column_inner {
    padding: 15px;
    background: none @contentColumnInnerBgColor;
    border: 1px solid @contentColumnInnerBorderColor;
  }
}

.status_info_list {
  .clearfix();
  margin-bottom: 0;
  &> li {
    color: @bodyLinksColor;
    float: left;
    font-size: 11px;
    padding: 0 5px;
    border-left: 1px solid @bodyLinksColor;
    line-height: 12px;
    margin-bottom: 5px;
    &:first-child {
      border-left: none;
      padding-left: 0;
    }
    &.dropdown {
      .caret {
        color: @bodyTextColor;
      }
    }
  }
}

.item_row.dropdown_with_images_row {
  margin-bottom: 25px;
}

.dropdown_with_images_list {
  .clearfix();
  &> li {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    @media (max-width: @screen-sm-max) {
      float: none;
    }
    &.dropdown {
      .caret {
        color: @bodyTextColor;
      }
    }
  }
}


/* SIDEBAR RIGHT styles */
.sidebar_right {
  .title {
    margin-bottom: 10px;
  }
}

.custom_list {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  &.custom_list_info {
    .value {
      width: 95px;
      position: relative;
      padding-left: 5px;
      float: right;
      &:before {
        content: ':';
        position: absolute;
        left: 0;
      }
    }
  }
  li {
    line-height: 13px;
    padding: 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .value {
      font-size: 11px;
      margin-left: 10px;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &.marked {
    li {
      &:before {
        content: '-';
        margin-right: 5px;
      }
      &:first-child {
        &:before {
          content: '';
        }
      }
    }
  }
  &.li_with_margin {
    li {
      margin-bottom: 10px;
    }
  }
  label {
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 0;
    width: 100%;
    padding: 3px 0 3px 5px;
    &:hover {
      background: none @columnItemsHoverBgColor;
    }
  }
  input[type='checkbox'] {
    margin-right: 5px;
    margin-top: 0;
  }
  .to_show {
    display: none;
  }
  .media {
    padding-left: 3px;
    margin-top: 7px;
    &:first-child {
      margin-top: 0;
    }
    &:hover {
      background: none @columnItemsHoverBgColor;
    }
    a {
      color: @bodyTextColor;
      text-decoration: none;
      &:hover {
        color: @bodyTextColor;
        text-decoration: none;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}

.play_symbol {
  width: 45px;
  height: 45px;
  display: block;
  border: 3px solid @playSymbolColor;
  text-align: center;
  i {
    font-size: 24px;
    line-height: 37px;
    color: @playSymbolColor;
  }
}

.btn_group {
  width: 100%;
  > .btn {
    border: 2px dotted @bodyTextColor;
    border-right: none;
    border-radius: 0;
    color: @bodyTextColor;
    padding-left: 3px;
    padding-right: 3px;
    &:last-child {
      border-right: 2px dotted @bodyTextColor;
    }
    &:hover {
      background: none @columnItemsHoverBgColor;
      color: @bodyTextColor;
    }
  }
}

.pseudo_checkbox_holder {
  input[type='checkbox'] {
    visibility: none;
    position: absolute;
    left: -9999px;
    &:checked {
      & + i.pseudo_checkbox {
        background: none lighten(@bodyTextColor, 20%);
      }
    }
    & + i.pseudo_checkbox {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid @bodyTextColor;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}









.open > .dropdown-menu.dropdown-menu-large {
  @media (min-width: @screen-sm-min) {
    display: flex;
    justify-content: space-around;
    > li {
      width: 180px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.dropdown-right {
  right: 0 !important;
  left: auto !important;
  margin-right: 0 !important;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  //margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/* SIDEBAR RIGHT styles */
.sidebar_right {
  .item_row {
    margin-bottom: 30px;
  }
  .title {
    margin-bottom: 10px;
  }
}

.filters_list {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  li {
    line-height: 16px;
    padding: 3px 0;
    .value {
      font-size: 11px;
      margin-left: 10px;
    }
  }
  label {
    font-weight: normal;
  }
  &.marked {
    li {
      &:before {
        content: '-';
        margin-right: 5px;
      }
      &:first-child {
        &:before {
          content: '';
        }
      }
    }
  }
}
