{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('integrated_content_search_selection_index') }}">{% trans %}Home{% endtrans %}</a>
        </li>
        <li class="active">{% trans %}Delete{% endtrans %}</li>
    </ol>

    <div class="page-header">
        <h1>{% trans %}Delete{% endtrans %} <small>Search selection</small></h1>
    </div>

    <div class="row">
        <div class="col-md-9">
            <p>
                {% trans with {'%name%':  searchSelection.title} %}You are about to delete "%name%", click the delete button below to confirm the action.{% endtrans %}
            </p>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}