{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}

    <div class="content_columns_holder">
        <div class="content_column_inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="results">

                        <table class="table table-striped table-hover">
                            <colgroup>
                                <col />
                                <col />
                                <col style="width: 5em" />
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>Search selections</th>
                                    <th>{% trans %}Short code{% endtrans %}</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for searchSelection in searchSelections %}

                                    <tr>
                                        <td>{{ searchSelection.title }}</td>
                                        <td>{{ searchSelection.slug|default }}</td>
                                        <td>
                                            <a href="{{ path('integrated_content_search_selection_edit', { 'id': searchSelection.id }) }}" title="{% trans %}Edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="{{ path('integrated_content_search_selection_delete', { 'id': searchSelection.id }) }}" title="{% trans %}Delete{% endtrans %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                        {{ knp_pagination_render(searchSelections) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}